/* Title under nav bar */
.title {
    background:black;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color:white;
    margin-bottom: 50px;
    position: relative;
  }
  
  .navbar{
      background: lightblue;
      min-height: 70px;
      position:relative;
      width:100%;
      font-size:40px;
      color:white;
  }

  .navbar li{
      display:inline-block;
      padding:20px;
      text-align:center;
  }